@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {

    margin-bottom: 70px;
    position: relative;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('imgs/backg.png') no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    line-height: 1.5;
    font-family: "Playfair Display", serif;
}

.pricing-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.pricing-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgb(12, 134, 150);
    text-align: center;
    width: 270px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    margin: 30px 0 20px ;
    color: #007bff;
}

.header h1 {
    font-size: 70px;
    white-space: nowrap;
    text-align: center;
    
}

.header p {
    margin-top: -10px;
    font-size: 20px;
   text-align: center;
}


.pricing-header h2 {
    margin: -10px;
    background-color:rgb(145, 183, 223);
    border-radius: 10px;
    
}

.feature-list {
    list-style: none; /* Remove default bullet */
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start; /* Align items to the left */
    justify-content: center;
    gap: 5px;
}

.feature-list li {
    padding-left: 30px; /* Space for the icon */
    background-image: url('imgs/arrow.png'); /* Use custom bullet */
    background-size: 15px 15px; /* Resize the image */
    background-repeat: no-repeat;
    background-position: left center;
}

.pricing-card .cta-button {
    width: 100%;
    height: 35px;
    cursor: pointer;
    border: none;
    margin: 40px 0 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(145, 183, 223);
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 15px;
    padding: 15px 20px 30px 20px; /*top right down left*/
    text-align: center;
}
.cta-button:hover{
    background-color: rgb(223, 84, 195);
    transform: scale(1);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);

}